.service-detail-card {
  background: #fff;
  border: 1px solid #e0e6ed;
  border-radius: 12px;
  padding: 24px;
  width: 1000px;
  margin: 0 auto;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);

  //&__grid {
  //  display: grid;
  //  grid-template-columns: repeat(2, 1fr);
  //  gap: 20px;
  //}

  &__left {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  /* LEFT SIDE CONTENT */
  &__top {
    display: flex;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__name {
    font-size: 22px;
    font-weight: 800;
    color: #1a237e;
    margin: 0;
  }

  &__description {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
  }

  &__price {
    font-size: 16px;
    font-weight: 700;
    color: #c62828;
  }

  &__duration,
  &__specialty {
    font-size: 14px;
    color: #5c6bc0;
    font-weight: 500;
  }

  &__doctor {
    padding-top: 12px;
    border-top: 1px solid #e0e6ed;

    h3 {
      margin: 0 0 8px 0;
      font-size: 16px;
      color: #1a237e;
    }
  }

  &__doctor-name {
    font-size: 16px;
    font-weight: 600;
  }

  /* RIGHT COLUMN FORM */
  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    border: 1px solid #e0e6ed;
    border-radius: 12px;
    height: fit-content;
    position: sticky;
    top: 20px;

    h3 {
      margin: 0;
      font-size: 16px;
      color: #1a237e;
    }

    label {
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 10px 12px;
      border: 1px solid #e0e6ed;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background: #f5f7ff;
        border-color: #c5cae9;
      }

      input {
        accent-color: #1a237e;
      }
    }

    button {
      margin-top: 10px;
      background: #c62828;
      color: white;
      border: none;
      padding: 12px;
      border-radius: 10px;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        background: #b71c1c;
      }
    }
  }

  /* RESPONSIVE */
  @media (max-width: 900px) {
    &__grid {
      grid-template-columns: 1fr;
    }

    &__bottom {
      position: static;
    }
  }
}

.service-detail-card__bottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.slots-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.slot-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 12px;
  border: 1px solid #e0e6ed;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.slot-item:hover {
  background: #f7f9fc;
}