.signIn--block {
  background-color: rgb(255, 255, 255);
  width: 500px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgba(193, 193, 193, 0.2);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.signIn--title {
  text-align: center;
}

.field-center {
  text-align: center;
  margin-top: 16px;
}

.text-add-more-content {
  text-align: right;
}

.text--addText {
  margin-top: 20px ;
  text-align: right;
}

.field-flex {
  display: flex;
}

.text-right {
  text-align: right;
}

.text--small {
  margin-right: 8px;
  font-weight: 600;
  font-size: 14px;
}