@use '../variables' as *;

.contact {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  align-items: center;
  margin: 100px auto;
}

.big {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.small {
  font-size: 24px;
  color: $color-text-muted;
}
