@import '../variables';
@import './Profile';

.patients-page {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 28px;
      font-weight: 800;
      color: $color-primary;
      margin: 0;
    }
  }
}
